*{
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  background-color: #0A0A0A;
  color: #fff;
  padding: 15px;
  display: flex;
  justify-content: end;
  align-items: center;
  width: 98%;
  position: fixed;
}

.header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.header nav ul li {
  display: inline;
  margin-left: 23px;
}
.header nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 15px;
}
.header nav ul li a:hover {
  color: rgb(168, 168, 168);
}

.inicio{
  background-image: url("./logo.JPG");
  height: 739px;
}

.sobre{
  background-color: #e9bf40;
  height: 739px;
}

.movimento_site{
  background-color: white;
  height: 739px;
}

.calendario{
  background-color: black;
  height: 739px;
}

.obstaculos{
  background-color: #e9bf40;
  height: 739px;
}

.cadastro{
  background-color: white;
  height: 739px;
}

.duvidas{
  background-color: black;
  height: 739px;
}

.button_inicio{
  background-color: #ff3131;
  height: 60px;
  width: 262px;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 600;
  line-height: 10px;
  margin-top: 37px;
  margin-left: 580px;
}

.inicio h2{
  color: rgb(255, 255, 255);
  padding-top: 550px;
  padding-left: 53px;
  font-size: 47px;
  line-height: 51px;
  word-spacing: 20px;
}

.sobre h2{
  color: rgb(255, 255, 255);
  padding-top: 90px;
  padding-left: 85px;
  font-size: 50px;
  line-height: 51px;
  word-spacing: 20px;
  width: 200px;
}

.imagens_sobre{
  margin-top: 35px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 410px;
}

.imagem_sobre1{
  background-color: blue;
  height: 395px;
  width: 270px;
  margin-left: 85px;
  border-radius: 70px;
}

.imagem_sobre2{
  background-color: brown;
  height: 395px;
  width: 270px;
  margin-left: 96px;
  border-radius: 70px;
}

.texto_sobre{
  margin-left: 180px;
  height: 500px;
  width: 330px;
  font-size: 26px;
  line-height: 47px;
  word-wrap: break-word;
  text-align: center;
}

.button_sobre{
  background-color: #ff3131;
  height: 60px;
  width: 262px;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 600;
  line-height: 10px;
  margin-top: 50px;
  margin-left: 267px;
}

.movimento_site h2{
  color: #000;
  font-size: 59px;
  line-height: 59px;
  padding-top: 90px;
  padding-left: 85px;
}

.imagens_mov{
  display: flex;
  justify-content: flex-start;
  height: 410px;
  align-items: center;
}

.agenda_mov{
  background-color: #e9bf40;
  height: 375px;
  width: 340px;
  margin-top: 140px;
  margin-left: 85px;
  border-radius: 30px;
}

.obstaculos_mov{
  background-color: #e9bf40;
  height: 375px;
  width: 340px;
  margin-top: 140px;
  margin-left: 85px;
  border-radius: 30px;
}

.cadastro_mov{
  background-color: #e9bf40;
  height: 375px;
  width: 340px;
  margin-top: 140px;
  margin-left: 85px;
  border-radius: 30px;
}

.button_agenda{
  background-color: #ff3131;
  height: 60px;
  width: 262px;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 600;
  line-height: 10px;
  margin-top: 20px;
  margin-left: 40px;
}

.button_obstaculos{
  background-color: #ff3131;
  height: 60px;
  width: 262px;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 600;
  line-height: 10px;
  margin-top: 280px;
  margin-left: 40px;
}

.button_cadastro{
  background-color: #ff3131;
  height: 60px;
  width: 262px;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 600;
  line-height: 10px;
  margin-top: 280px;
  margin-left: 40px;
}

.texto_baixo_agenda{
  margin-left: 20px;
  margin-top: 200px;
  word-wrap: break-word;
  text-align: center;
  font-size: 16px;
  line-height: 22px;
  width: 300px;
}