*{
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  background-color: #000000;
  color: #fff;
  padding: 15px;
  display: flex;
  justify-content: end;
  align-items: center;
  width: 98%;
  position: fixed;
}

.header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.header nav ul li {
  display: inline;
  margin-left: 23px;
}
.header nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 15px;
}
.header nav ul li a:hover {
  color: rgb(168, 168, 168);
}

.inicio{
  background-color: black;
  height: 739px;
}

.sobre{
  background-color: #e9bf40;
  height: 681px;
}

.movemento_site{
  background-color: white;
  height: 800px;
}

.calendario{
  background-color: black;
  height: 739px;
}

.obstaculos{
  background-color: #ffdb58;
  height: 683px;
}

.cadastro{
  background-color: white;
  height: 689px;
}

.duvidas{
  background-color: black;
  height: 640px;
}

button{
  background-color: #ff3131;
  height: 60px;
  width: 262px;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 600;
  line-height: 10px;
  margin-top: 37px;
  margin-left: 580px;
}

.inicio h2{
  color: rgb(255, 255, 255);
  padding-top: 550px;
  padding-left: 53px;
  font-size: 47px;
  line-height: 51px;
  word-spacing: 20px;
}

.sobre h2{
  color: rgb(255, 255, 255);
  padding-top: 90px;
  padding-left: 85px;
  font-size: 50px;
  line-height: 51px;
  word-spacing: 20px;
  width: 200px;
}

.imagens_sobre{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.imagem_sobre1{
  background-color: blue;
  height: 395px;
  width: 270px;
  margin-left: 85px;
  border-radius: 70px;
}

.imagem_sobre2{
  background-color: brown;
  height: 395px;
  width: 270px;
  margin-left: 96px;
  border-radius: 70px;
}

.texto_sobre{
  height: 430px;
  font-size: 27px;
  line-height: 43px;
  margin-left: 215px;
  white-space: pre-line;
}